@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
p {
  color: hsl(233, 8%, 62%);
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  font-size: 18px;
}

button {
  background-image: linear-gradient(to right, #30ce71, #2cbac7);
  height: 7vh;
  width: 10vw;
  border-radius: 4rem;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(
    to right,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
}

/* nav start */
header {
  background-color: white;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100vw;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}
.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-items li {
  margin-right: 20px;
  display: inline-block;
}

.header .request {
  margin-right: 3rem;
}

.navbar-items li a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
}

.header .navbar-items li:hover {
  border-bottom: 4px solid hsl(136, 65%, 51%);
}

.dropdown {
  display: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* nav end */

/* section 1 */
.section-one {
  display: flex;
  height: 85vh;
  background: hsl(0, 0%, 98%);
  overflow: hidden;
}

.text-section {
  align-self: center;
  flex-shrink: 0;
  flex-basis: 450px;
  padding: 0 30px;
  margin: 0 auto;
}

.heading-main {
  font-size: 2.5em;
  margin: 30px 0;
  font-weight: 300;
}

.heading {
  font-size: 2.1em;
  margin: 30px 0;
  font-weight: 300;
}

.slogan {
  color: hsl(233, 8%, 62%);
  display: inline-block;
  margin: 10px 0 40px 0;
}

.image-section {
  background: url("../images/bg-intro-desktop.svg");
  overflow-x: clip;
  z-index: 0;
}

.mock-img {
  transform: translate(18%, -13%);
  overflow: hidden;
}

/* section 1 end */

/* section 2 */
.section2 {
  background-color: hsl(220, 16%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 8vw;
  padding: 8vw;
}

.section2 .reason {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.section2 .reason p {
  margin-top: 3vh;
}

.section2 .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.section2 h2,
h3 {
  color: black;
}

.section2 h2 {
  font-size: 2rem;
}
.section2 .flex-container {
  /* padding: 5vh; */
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}
.section2 h3 {
  margin-top: 3vh;
}
.section2 .card1 {
  width: 15rem;
  margin-left: 2vw;
}
.section2 p {
  margin-top: 3vh;
  font-size: 1rem;
}
/* section 2 */

/* section 3 */

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.section3 h2 {
  font-size: 2rem;
  margin-bottom: 4vh;
  margin-left: 4vw;
  color: black;
}

.section3 .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

.section3 .card {
  margin-top: 2vh;
  height: auto;
  background-color: white;
  width: 15rem;
  margin-bottom: 10vh;
}

.section3 img {
  width: 100%;
  height: 30vh;
}

.section3 h4 {
  font-size: 0.9em;
  color: black;
}

.section3 .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}

.section3 h4:hover {
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-image: linear-gradient(
    90deg,
    hsl(136, 65%, 51%) 27%,
    hsl(192, 70%, 51%) 96%
  );
}

.section3 figcaption {
  font-size: 0.7em;
  margin-bottom: 1vh;
}

.section3 p {
  font-size: 0.7em;
  margin-top: 1vh;
}
/* section 3 end */

/* footer */
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 50px;
}
.ft-one {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

.social_link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.social_link .logo-img {
  color: #fff;
  padding-bottom: 20px;
}

.social_link .svg {
  fill: white;
}

.social_link .svg:hover {
  background-color: #30ce71;
}

.social_link_list li {
  display: inline-block;
  margin-right: 10px;
}

.ft-nav-1 li,
.ft-nav-2 li {
  margin: 1rem;
}

.ft-nav-1 li a,
.ft-nav-2 li a {
  color: hsl(220, 16%, 96%);
  font-size: 20px;
}

footer li:hover {
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-color: hsl(136, 65%, 51%) 27%;
}

.ft-two {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.ft-two h4 {
  color: hsl(233, 8%, 62%);
}

footer button {
  margin-bottom: 1rem;
}

@media screen and (max-width: 690px) {
  body {
    width: 100%;
  }
  button:hover {
    background-image: linear-gradient(
      to right,
      hsl(192, 70%, 51%),
      hsl(136, 65%, 51%)
    );
  }
  /* nav */
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .navbar-items li a {
    color: hsl(233, 26%, 24%);
  }

  .header .dropdown {
    display: block;
  }
  header .request {
    display: none;
  }
  /* nav end */

  .section1 {
    flex-direction: column;
    height: auto;
  }
  .section1 .details {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-top: -13rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  .section1 .mocimage {
    order: -1;
    width: 100%;
    transform: translateY(-10%);
  }

  .section1 img {
    width: 18rem;
    overflow: hidden;
    transform: translateY(-19%);
  }
  .section1 button {
    margin-left: 2.3rem;
    margin-bottom: 10vh;
    width: 10rem;
    align-content: center;
  }

  .section-one {
    flex-direction: column;
    height: auto;
  }

  .text-section {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  .section-one .request {
    width: 10rem;
  }

  .image-section {
    order: -1;
    width: 100%;
    transform: translateY(-10%);
  }

  .mock-img {
    width: inherit;
    transform: translateY(-19%);
  }

  .section3 {
    flex-wrap: wrap;
  }
  .section3 .flex-container {
    flex-wrap: wrap;
  }
  .section3 .card {
    flex-wrap: wrap;
    width: 19rem;
  }
  .section3 .card-content {
    flex-wrap: wrap;
  }

  /* footbar */

  footer {
    flex-wrap: wrap;
  }
  .ft-one {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .ft-nav-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.1rem;
  }
  .ft-nav-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ft-nav-1 li {
    margin-right: 3rem;
  }

  .ft-nav-1 li a,
  .ft-nav-2 li a {
    color: hsl(220, 16%, 96%);
    font-size: 20px;
  }

  .ft-two {
    justify-content: center;
    align-items: center;
  }

  .ft-two .request {
    margin-top: 2rem;
    width: 8rem;
  }
  .ft-two h4 {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    margin-top: 2rem;
  }
}
